---
interface Technology {
    title: string;
    icon: any;
}

interface Props {
    technologies: Technology[];
    title: string;
}

const { technologies, title } = Astro.props;
---

<h3 class="text-lg font-semibold text-yellow-800 dark:text-yellow-200 mt-8">{title}</h3>
<ul class="gap-x-2 grid grid-flow-row-dense grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
    {
        technologies.map((tag) => (
            <li class="mt-2">
                <span
                    class={`flex gap-x-2 rounded-full text-xs py-1 px-2 border border-black/10 dark:border-white/10 hover:scale-110 hover:bg-black/10 dark:hover:bg-white/10 place-content-center`}
                >
                    <tag.icon class="size-4" />
                    {tag.title}
                </span>
            </li>
        ))
    }
</ul>
