<svg
    {...Astro.props}
    xmlns="http://www.w3.org/2000/svg"
    width="2500"
    height="2500"
    viewBox="0 0 192 192"
    ><path fill="none" d="M0 0h192v192H0z"></path><path
        fill="#FBBC04"
        d="M92.01 8.26c1.27-.26 6.3-.25 7.5-.26 34.25-.27 81.75 28.87 84.49 84.28v69.18c0 12.45-10.28 22.54-22.77 22.54-9 0-21.23-11.53-21.23-22.5V92.32c-1.27-18.26-16.07-38.81-40.99-40.36-1.54-.1-5.04-.16-7.01.1"
    ></path><path
        fill="#4285F4"
        d="M183.98 162c0 12.15-9.85 22-22 22S140 174.15 140 162s9.83-22 21.98-22 22 9.85 22 22z"
    ></path><path
        fill="#EA4335"
        d="M93.2 183.24c12.6 0 22.81-10.02 22.81-22.37 0-12.36-10.46-21.33-23.05-21.33-.08 0-.16.01-.24.01-21.66-1.5-41.92-20.57-40.44-46.71l.03-.42c1.25-20.51 18.75-39.12 40.9-40.4 12.6 0 22.81-9.04 22.81-21.39S105.8 8.25 93.2 8.25c-.51 0-1.02-.03-1.53 0C53.46 9.58 8.46 41.37 8.01 95.4v.33c0 54.83 48.09 87.5 83.93 87.5h1.26z"
    ></path></svg
>
