<svg
    {...Astro.props}
    version="1.2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1518 1580"
    width="1518"
    height="1580"
>
    <title>amplitude-svg</title>
    <style>
        .amplitudeLogo {
            fill: #1e61f0;
        }
    </style>
    <g id="Layer">
        <g id="Layer">
            <path
                id="Layer"
                class="amplitudeLogo"
                d="m685.5 389.6q8 17.2 15 34.8q7 17.6 13 35.6q6 18 10.9 36.3c18.7 58.4 38.6 130.8 60 215.3c-80.9-1.3-162.6-2.3-241.9-3.1l-40.1-0.6c45.3-184.4 100.6-324.3 141-357.3q1.2-0.9 2.5-1.6q1.3-0.6 2.7-1.1q1.4-0.5 2.9-0.8q1.4-0.3 2.9-0.3q2.2 0.1 4.2 0.8q2.1 0.7 4 1.8q1.9 1.2 3.4 2.8q1.5 1.5 2.7 3.4q8.9 16.8 16.8 34z"
            ></path>
            <path
                id="Layer"
                fill-rule="evenodd"
                class="amplitudeLogo"
                d="m1517.3 789.8c0 436.1-339.7 789.7-758.7 789.7c-418.9 0-758.6-353.5-758.6-789.7c0-436.2 339.7-789.8 758.6-789.8c419 0 758.7 353.6 758.7 789.8zm-205.5 5.6c2.2-3.3 4-6.8 5.2-10.6c1.2-3.7 2-7.6 2.1-11.5c0.2-3.9-0.1-7.9-1-11.7c-0.9-3.8-2.2-7.5-4.1-10.9c-1.9-3.4-4.2-6.5-7-9.2c-2.7-2.8-5.9-5.1-9.3-7c-3.4-1.9-7-3.3-10.8-4.1h-1.7q-0.8-0.1-1.6-0.2q-0.7-0.1-1.5-0.2q-0.7 0-1.5-0.1q-0.8 0-1.5 0l-5.4-0.5c-127-9.6-257.7-13.4-380.4-16l-0.2-0.9c-59.7-233.1-134.2-471.4-234.7-471.4c-93.7 0.3-178.3 157.1-251.1 465.4c-51.4-0.6-98.5-1.3-142.8-2.1h-6.8q-2-0.1-4.1-0.1q-2 0.1-4 0.2q-2.1 0-4.1 0.2q-2.1 0.2-4.1 0.4c-12.4 2.8-23.4 9.8-31.2 19.7c-7.9 10-12 22.4-11.8 35.1c0.2 12.7 4.8 24.9 12.9 34.6c8.2 9.7 19.4 16.3 31.9 18.7l0.5 0.6h139.4c-13 61.7-24.3 122.7-33.8 181.5l-4.2 25.8v1.3c0 3.8 0.6 7.7 1.8 11.3c1.1 3.7 2.9 7.1 5.2 10.2c2.2 3.1 5 5.9 8.1 8.1c3.1 2.3 6.5 4 10.2 5.2c3.6 1 7.4 1.5 11.2 1.3c3.8-0.2 7.5-1 11-2.4c3.5-1.3 6.8-3.3 9.6-5.8c2.9-2.4 5.4-5.3 7.3-8.6l1.1 0.9l68.6-228.7h330.7c25.2 99.4 51.5 202.1 86.1 298.4c18.6 51.5 61.9 172.1 134.4 172.7h0.8c112.2 0 155.9-188.6 184.8-313.5c6.3-26.9 11.6-50.1 16.7-67.1l2-7.1q0.2-0.6 0.4-1.2q0.1-0.7 0.2-1.3q0.1-0.7 0.1-1.3q0.1-0.7 0.1-1.3c0-2.1-0.4-4.1-1.1-6c-0.7-2-1.7-3.7-3-5.3c-1.3-1.6-2.8-3-4.6-4c-1.7-1.1-3.6-1.8-5.6-2.2c-2-0.4-4-0.4-6 0c-1.9 0.4-3.8 1.1-5.6 2.1c-1.7 1-3.2 2.3-4.5 3.8c-1.3 1.6-2.3 3.3-3 5.2l-2.4 7c-9.6 27.4-18.3 53.4-26.2 76.4l-0.6 1.8c-48.5 143.1-70.6 208.4-114.1 208.4h-2.9c-55.5 0-107.8-235.3-127.5-323.9c-3.5-15.3-6.6-29.4-9.6-41.8h359.6q2.4 0 4.8-0.3q2.4-0.3 4.8-0.9q2.3-0.6 4.6-1.5q2.3-0.9 4.4-2.1q0.2-0.1 0.4-0.2q0.2-0.1 0.4-0.3q0.3-0.1 0.5-0.2q0.2-0.1 0.4-0.3l1.8-1.1l0.8-0.6c0.9-0.6 1.7-1.3 2.5-1.9l0.2-0.2c3-2.6 5.6-5.5 7.8-8.7z"
            ></path>
        </g>
    </g>
</svg>
