<svg
    {...Astro.props}
    version="1.2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1263 1500"
    width="1263"
    height="1500"
    fill="currentColor"
>
    <title>AAPL-svg</title>
    <path
        id="Layer"
        d="m1053 1440c-81.3 78.9-171 66.6-256.5 29.4-90.9-37.9-174-40.4-270 0-119.6 51.6-183 36.6-255-29.4-406.5-418.5-346.5-1056 115.5-1080 112.1 6 190.5 61.9 256.5 66.6 98.1-20 192-77.1 297-69.6 126.2 10.2 220.5 60 283.5 149.6-259.5 155.9-198 497.9 40.3 594-47.6 125.2-108.8 249-211.5 340.5zm-418.5-1084.5c-12.1-186 138.6-339 312-354 23.9 214.5-195 375-312 354z"
    >
    </path>
</svg>
