<svg
    {...Astro.props}
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1556 1587"
    width="1556"
    height="1587"
>
    <title>google-seeklogo</title>
    <style>
        tspan {
            white-space: pre;
        }
        .shp0 {
            fill: #4285f4;
        }
        .shp1 {
            fill: #34a853;
        }
        .shp2 {
            fill: #fbbc05;
        }
        .shp3 {
            fill: #eb4335;
        }
    </style>
    <g id="Layer">
        <path
            id="Layer"
            class="shp0"
            d="M1555.26 810.89C1555.26 745.67 1549.96 698.07 1538.51 648.72L793.5 648.72L793.5 943.1L1230.8 943.1C1221.99 1016.26 1174.38 1126.44 1068.58 1200.47L1067.09 1210.33L1302.65 1392.76L1318.97 1394.39C1468.85 1256 1555.26 1052.4 1555.26 810.89Z"
        ></path>
        <path
            id="Layer"
            class="shp1"
            d="M793.5 1586.53C1007.74 1586.53 1187.6 1516.02 1318.97 1394.39L1068.58 1200.47C1001.57 1247.19 911.64 1279.8 793.5 1279.8C583.66 1279.8 405.57 1141.42 342.08 950.16L332.78 950.95L87.84 1140.45L84.64 1149.35C215.12 1408.48 483.15 1586.53 793.5 1586.53Z"
        ></path>
        <path
            id="Layer"
            class="shp2"
            d="M342.08 950.16C325.33 900.8 315.64 847.91 315.64 793.27C315.64 738.62 325.33 685.73 341.2 636.37L340.76 625.86L92.75 433.32L84.64 437.17C30.86 544.71 0 665.46 0 793.27C0 921.07 30.86 1041.82 84.64 1149.35L342.08 950.16Z"
        ></path>
        <path
            id="Layer"
            class="shp3"
            d="M793.5 306.73C942.5 306.73 1043.01 371.07 1100.32 424.84L1324.26 206.25C1186.72 78.45 1007.74 0 793.5 0C483.15 0 215.12 178.04 84.64 437.17L341.2 636.37C405.57 445.11 583.66 306.73 793.5 306.73Z"
        ></path>
    </g>
</svg>
