<svg {...Astro.props} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" fill="none"
    ><path
        fill="#FB2D26"
        d="M0 27.733C0 14.66 0 8.123 4.061 4.061 8.123 0 14.66 0 27.733 0h24.534c13.073 0 19.61 0 23.672 4.061C80 8.123 80 14.66 80 27.733v24.534c0 13.073 0 19.61-4.061 23.672C71.877 80 65.34 80 52.267 80H27.733c-13.073 0-19.61 0-23.672-4.061C0 71.877 0 65.34 0 52.267V27.733Z"
    ></path><g clip-path="url(#a)"
        ><path
            fill="#fff"
            d="M59.252 51.322c.903 1.568.99 3.216.24 4.52-.75 1.304-2.218 2.051-4.026 2.051h-3.409c.04-.635.067-1.275.067-1.92 0-.722-.033-1.436-.083-2.147l2.243-.002a.998.998 0 0 0 .876-1.476L40.87 27.535a.991.991 0 0 0-1.355-.377.996.996 0 0 0-.364.354l-2.268 3.94c6.895 5.193 11.531 13.238 12.165 22.372.05.71.083 1.423.083 2.147 0 .645-.027 1.284-.066 1.92H37.933c.06-.633.096-1.272.096-1.92 0-.726-.043-1.442-.122-2.147-.55-5.027-3.013-9.482-6.64-12.626l-1.563 2.712a16.438 16.438 0 0 1 5.12 9.914c.092.703.143 1.419.143 2.147 0 .648-.042 1.29-.115 1.92h-10.32c-1.808 0-3.276-.748-4.026-2.053-.75-1.303-.663-2.95.24-4.52l2.12-3.627a12.41 12.41 0 0 1 3.236 2.506l-1.263 2.149a1.017 1.017 0 0 0-.045.858.996.996 0 0 0 .922.617l5.005.002a12.373 12.373 0 0 0-3.112-6.272 12.467 12.467 0 0 0-3.24-2.51l5.588-9.7a23.67 23.67 0 0 1 3.37 2.283c4.816 3.904 8.069 9.67 8.658 16.198h2.996c-.611-7.632-4.45-14.361-10.146-18.816a26.758 26.758 0 0 0-3.386-2.257l4.77-8.28C37.122 22.902 38.502 22 40.005 22c1.5 0 2.88.9 3.784 2.47l15.462 26.852Z"
        ></path></g
    ><defs><clipPath id="a"><path fill="#fff" d="M20 22h40v35.9H20z"></path></clipPath></defs></svg
>
