<svg
    {...Astro.props}
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="xMidYMid"
    viewBox="0 0 256 256"
>
    <linearGradient
        id="a"
        gradientUnits="userSpaceOnUse"
        x1="-1845.5"
        y1="1255.6"
        x2="-1797.1"
        y2="981.3"
        gradientTransform="rotate(180 -846.6 623.3)"
    >
        <stop offset="0" style="stop-color:#faae42"></stop>
        <stop offset="1" style="stop-color:#ef3e31"></stop>
    </linearGradient>
    <path
        fill="url(#a)"
        d="M56.9 0h141.8a56.5 56.5 0 0 1 57.4 59.1V197.4a56.6 56.6 0 0 1-57.5 58.6l-144.2-.1a57 57 0 0 1-54-56.8V56.9A56.8 56.8 0 0 1 53.7.2c1-.2 2.1-.2 3.2-.2z"
    ></path>
    <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="130.6" y1="4.1" x2="95.2" y2="204.9">
        <stop offset="0" style="stop-color:#e39f3a"></stop>
        <stop offset="1" style="stop-color:#d33929"></stop>
    </linearGradient>
    <path
        fill="url(#b)"
        d="M216 209.4a39 39 0 0 0-11.6-11.9c-4-2.7-8.7-4.4-13.5-4.6-3.4-.2-6.8.4-10 1.6a65.2 65.2 0 0 0-9.3 4.3c-3.5 1.8-7 3.6-10.7 5.1-4.4 1.8-9 3.2-13.7 4.2a89 89 0 0 1-17.8 1.4 120.3 120.3 0 0 1-77.2-30 145.4 145.4 0 0 1-22.8-25.1 46.6 46.6 0 0 1-3-4.7L0 121.2V56.7A56.6 56.6 0 0 1 56.6 0h50.5l37.4 38c84.4 57.4 57.1 120.7 57.1 120.7s24 27 14.4 50.7z"
    ></path>
    <path
        fill="#FFF"
        d="M144.7 38c84.4 57.4 57.1 120.7 57.1 120.7s24 27.1 14.3 50.8c0 0-9.9-16.6-26.5-16.6-16 0-25.4 16.6-57.6 16.6-71.7 0-105.6-59.9-105.6-59.9C91 192.1 135.1 162 135.1 162c-29.1-16.9-91-97.7-91-97.7 53.9 45.9 77.2 58 77.2 58-13.9-11.5-52.9-67.7-52.9-67.7 31.2 31.6 93.2 75.7 93.2 75.7C179.2 81.5 144.7 38 144.7 38z"
    ></path>
</svg>
