<svg
    {...Astro.props}
    version="1.2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1537 1249"
    width="1537"
    height="1249"
>
    <title>Twitter-logo-svg</title>
    <style>
        .twitterLogo {
            fill: #1d9bf0;
        }
    </style>
    <g id="Logo_1_">
        <path
            id="white_background"
            class="twitterLogo"
            d="m1379.4 311.1c0.9 13.5 0.9 27 0.9 40.7c0 416.4-317.1 896.7-896.9 896.7v-0.3c-171.2 0.3-339-48.8-483.2-141.3c24.9 3 50 4.5 75.1 4.6c141.9 0.1 279.8-47.5 391.5-135.2c-134.9-2.5-253.2-90.5-294.5-218.8c47.2 9.1 95.9 7.2 142.3-5.4c-147.1-29.7-252.9-158.9-252.9-308.9q0-2.1 0-4c43.8 24.4 92.9 37.9 143.1 39.4c-138.5-92.5-181.2-276.7-97.6-420.8c160.1 196.9 396.2 316.6 649.7 329.3c-25.4-109.5 9.3-224.2 91.2-301.1c126.9-119.3 326.6-113.2 446 13.6c70.6-13.9 138.2-39.8 200.1-76.5c-23.5 73-72.7 135-138.5 174.3c62.5-7.3 123.5-24.1 181-49.6c-42.3 63.4-95.6 118.6-157.3 163.3z"
        ></path>
    </g>
</svg>
