---
import ExperienceItem from "./ExperienceItem.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCE = [
  {
    date: t("job.list[0].date"),
    title: t("job.list[0].title"),
    description: t("job.list[0].description"),
    company: t("job.list[0].company"),
    companyUrl:
      "https://www.linkedin.com/company/idoctus-m3/posts/?feedView=all",
  },
  {
    date: t("job.list[1].date"),
    title: t("job.list[1].title"),
    description: t("job.list[1].description"),
    company: t("job.list[1].company"),
    companyUrl:
      "https://www.linkedin.com/in/agropecuaria-popoyán-s-a-7531a058/",
  },
  {
    date: t("job.list[2].date"),
    title: t("job.list[2].title"),
    description: t("job.list[2].description"),
    company: t("job.list[2].company"),
    companyUrl: "https://www.linkedin.com/company/tribalworldwidegt/",
  },
  {
    date: t("job.list[3].date"),
    title: t("job.list[3].title"),
    description: t("job.list[3].description"),
    company: t("job.list[3].company"),
    companyUrl: "https://www.linkedin.com/company/digital-geko/",
  },
  {
    date: t("job.list[4].date"),
    title: t("job.list[4].title"),
    description: t("job.list[4].description"),
    company: t("job.list[4].company"),
    companyUrl: "https://www.linkedin.com/company/ineditovb/",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
