---
import OpenInNew from "../../icons/technologies/OpenInNew.astro";

interface Props {
  title: string;
  company: string;
  companyUrl: string;
  description: string;
  date: string;
}

const { title, company, companyUrl, description, date } = Astro.props;
---

<div
  class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-gray-700"
>
</div>
<time
  class="mb-1 text-sm font-normal leading-none text-sky-800 dark:text-sky-200/80"
  >{date}</time
>
<h3
  class="text-lg font-semibold text-yellow-800 dark:text-yellow-200 mt-2 flex flex-row"
>
  {title}
  <small class="flex flex-row ml-2 mt-1">
    at <a
      href={companyUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="flex flex-row ml-1"
    >
      {company}

      <OpenInNew class="size-3 mt-2 ml-1" />
    </a>
  </small>
</h3>
<p class="mb-4 text-base font-normal dark:text-gray-200 text-pretty">
  {description}
</p>
