---
import Flutter from '../icons/technologies/Flutter.astro';
import Git from '../icons/technologies/Git.astro';
import JetpackCompose from '../icons/technologies/JetpackCompose.astro';
import OpenInNew from '../icons/technologies/OpenInNew.astro';
import Swift from '../icons/technologies/Swift.astro';
import AstroIcon from '../icons/technologies/AstroIcon.astro';

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Stackoverflow from '../icons/technologies/Stackoverflow.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const TAGS = {
    flutter: {
        name: 'Flutter',
        class: 'bg-black text-white',
        icon: Flutter,
    },
    iOS: {
        name: 'Swift UI',
        class: 'bg-black text-white',
        icon: Swift,
    },
    android: {
        name: 'Jetpack Compose',
        class: 'bg-black text-white',
        icon: JetpackCompose,
    },
    astro: {
        name: 'Astro',
        class: 'bg-black text-white',
        icon: AstroIcon,
    },
    stackoverflow: {
        name: 'Stackoverflow',
        class: 'bg-black text-white',
        icon: Stackoverflow,
    },
};

const StackOverflowTitle = 'Stackoverflow';

const PROJECTS = [
    {
        title: StackOverflowTitle,
        description: t('project.projectE.desc'),
        link: 'https://stackoverflow.com/users/11891580/jonathan-ixcayau',
        git: undefined,
        images: ['/projects/stackoverflow.png'],
        tags: [TAGS.stackoverflow],
    },
    {
        title: 'Chuck Norris Jokes',
        description: t('project.projectA.desc'),
        link: 'https://play.google.com/store/apps/details?id=com.jixcayau.chuckNorrisJokes',
        git: 'https://gitlab.com/jonynija/chuck-nurris-jokes-flutter',
        images: [
            '/projects/chuck_norris_jokes/main.png',
            '/projects/chuck_norris_jokes/jokes_list.png',
            '/projects/chuck_norris_jokes/joke.png',
        ],
        tags: [TAGS.flutter],
    },
    {
        title: 'Memorama',
        description: t('project.projectB.desc'),
        link: undefined,
        git: 'https://gitlab.com/jonynija/memory-game-ios',
        images: [
            '/projects/memorama/login.png',
            '/projects/memorama/dashboard.png',
            '/projects/memorama/game.png',
        ],
        tags: [TAGS.iOS],
    },
    {
        title: 'Poke Dex',
        description: t('project.projectC.desc'),
        link: undefined,
        git: 'https://gitlab.com/jonynija/android-poke-dex',
        images: [
            '/projects/pokedex/login.png',
            '/projects/pokedex/regions.png',
            '/projects/pokedex/team.png',
            '/projects/pokedex/create_team.png',
        ],
        tags: [TAGS.android],
    },
    {
        title: 'Portfolio',
        description: t('project.projectD.desc'),
        link: '#',
        git: 'https://gitlab.com/jonynija/portafolio-dev',
        images: ['/projects/portfolio/web.png', '/projects/portfolio/mobile.jpeg'],
        tags: [TAGS.astro],
    },
];
---

{
    PROJECTS.map(({ images, title, description, tags, git, link }) => (
        <article class="mb-5">
            <span class="flex flex-row">
                <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
                    {title}
                </h3>
                {link != undefined ? (
                    <a href={link} target="_blank" rel="noopener noreferrer">
                        <OpenInNew class="size-5 ml-5 mt-2" />
                    </a>
                ) : (
                    <span />
                )}
                {git != undefined ? (
                    <a href={git} target="_blank" rel="noopener noreferrer">
                        <Git class="size-5 ml-5 mt-2" />
                    </a>
                ) : (
                    <span />
                )}
            </span>
           
            <p class="text-lg mb-4 text-pretty">{description}</p>

             {title == StackOverflowTitle ? (
                <a href={link}><img src="https://stackexchange.com/users/flair/16460402.png?theme=dark" width="208" height="58" alt="profile for Jonathan Ixcayau on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Jonathan Ixcayau on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>
            ) : (
                <a />
            )}

            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
                        >
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            {images.length == 1 ? (
                <img
                    style="object-fit:contain"
                    class="relative rounded-lg h-80 shadow-xl rounded-lg w-full"
                    src={images[0]}
                    loading="lazy"
                />
            ) : (
                <div class="relative w-full flex gap-6 snap-x snap-proximity overflow-x-auto pb-5">
                    <div class="snap-center shrink-0">
                        <div class="shrink-0 w-4 sm:w-48" />
                    </div>

                    {images.map((image) => (
                        <div class="snap-center shrink-0 first:pl-8 last:pr-8">
                            <img
                                style="object-fit:contain"
                                loading="lazy"
                                class="rounded-lg h-80 "
                                src={image}
                            />
                        </div>
                    ))}
                    <div class="snap-center shrink-0">
                        <div class="shrink-0 w-4 sm:w-48" />
                    </div>
                </div>
            )}
        </article>
    ))
}
