---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/sections/SectionContainer.astro";
import LinkedInIcon from "./icons/technologies/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "./icons/technologies/Mail.astro";
import Experience from "../components/sections/experience/Experience.astro";
import Briefcase from "./icons/technologies/Briefcase.astro";
import CodeIcon from "./icons/technologies/Code.astro";
import Projects from "../components/sections/Projects.astro";
import Gitlab from "./icons/technologies/Gitlab.astro";
import Stackoverflow from "./icons/technologies/Stackoverflow.astro";
import Resume from "./icons/general/Resume.astro";
import Technologies from "../components/technologies/Technologies.astro";
import Hobbies from "./sections/hobbies/Hobbies.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("page.title")} description={t("page.desc")}>
  <main class="px-4">
    <SectionContainer class="pt-20 pb-32" id="about">
      <span class="flex flex-row gap-x-4 pb-6 lg:pb-10">
        <img
          class="rounded-full size-20 mb-4"
          src="/profile_picture.webp"
          alt="Jonathan photo"
          loading="lazy"
        />
        <a
          href="https://www.linkedin.com/in/jonathanixcayau/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center text-center"
        >
          <Badge>{t("about.badge")}</Badge>
        </a>
      </span>
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold"
      >
        {t("about.partA")}
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span> {t("about.partB")}</span><span
          class="text-yellow-800 dark:text-yellow-200"
        >
          {t("about.partC")}</span
        >
        <span class="text-red-800 dark:text-red-200"> {t("about.partD")}</span>
        <span class="text-sky-800 dark:text-sky-200"> {t("about.partE")}</span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/jonathanixcayau/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://gitlab.com/users/jonynija/projects">
          <Gitlab class="size-4 md:size-6" />
          Gitlab
        </SocialPill>
        <SocialPill
          href="https://stackoverflow.com/users/11891580/jonathan-ixcayau"
        >
          <Stackoverflow class="size-4 md:size-6" />
          Stackoverflow
        </SocialPill>
        <SocialPill href="mailto:jonathan@ixcayau.com">
          <MailIcon class="size-4 md:size-6" />
          jonathan@ixcayau.com
        </SocialPill>
        <SocialPill href="/Jonathan Ixcayau - Mobile Developer Resume.pdf">
          <Resume class="size-4 md:size-6" />
          Resume
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        {t("sections.experience")}
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        {t("sections.projects")}
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="stack">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        {t("sections.stack")}
      </h2>
      <Technologies />
    </SectionContainer>

    <SectionContainer id="hobbies">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Hobbies
      </h2>
      <Hobbies />
    </SectionContainer>
  </main>
</Layout>
