---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import ThemeToggle from './ThemeToggle.astro';
import LangToggle from './LangToggle.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const SECTIONS = [
    {
        title: t('navbar.about'),
        url: '#about',
    },
    {
        title: t('navbar.experience'),
        url: '#experience',
    },
    {
        title: t('navbar.projects'),
        url: '#projects',
    },
    {
        title: t('navbar.stack'),
        url: '#stack',
    },
];
---

<header
    class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
    <nav
        class={`
      border border-black rounded-full
      px-3 py-1
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl
      text-xs
      md:text-sm
      lg:text-base`}
    >
        {
            SECTIONS.map((section) => (
                <a
                    class="hover:bg-black/10 dark:hover:bg-white/10 rounded-full px-1 sm:px-3  transition"
                    href={section.url}
                >
                    {section.title}
                </a>
            ))
        }

        <ThemeToggle />

        <LangToggle />
    </nav>
</header>
