---
import Lang from "./icons/lang/Lang.astro";

const LANGS = [
  {
    title: "English",
    id: "en",
  },
  {
    title: "Español",
    id: "es",
  },
];
---

<div class="relative ml-1 mr-1">
  <button
    id="lang-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
  >
    <Lang class="lang-toggle-icon size-5 transition-all" />
  </button>
  <div
    id="lang-menu"
    class="absolute hidden scale-80 top-8 right-0 text-sm p-1 min-w-[8rem] rounded-md border border-gray-100 bg-white/90 dark:bg-gray-900/90 dark:border-gray-500/20 shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md"
  >
    <ul>
      {
        LANGS.map((lang) => (
          <li
            id={`${lang.id}`}
            class="lang-menu-option px-2 py-1.5 cursor-default hover:bg-neutral-400/40 dark:hover:bg-gray-500/50 rounded-sm"
          >
            {lang.title}
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  #lang-menu.open {
    display: inline;
    animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes scale-up-center {
    from {
      transform: scale(0.8);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>

<script is:inline>
  const langsMenu = document.getElementById("lang-menu");

  document.addEventListener("click", () => langsMenu.classList.remove("open"));

  document.getElementById("lang-toggle-btn").addEventListener("click", (e) => {
    e.stopPropagation();

    const isClosed = !langsMenu.classList.contains("open");
    langsMenu.classList[isClosed ? "add" : "remove"]("open");
  });

  document.querySelectorAll(".lang-menu-option").forEach((element) => {
    element.addEventListener("click", (e) => {
      window.location.href = `https://jonathan.ixcayau.com/${e.target.id}`;
    });
  });
</script>
