---
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const HOBBIES = [
    {
        title: t('hobbies.coffee.title'),
        description: t('hobbies.coffee.desc'),
        images: ['/hobbies/coffee/v60.JPG', '/hobbies/coffee/delter.webp'],
    },
    {
        title: t('hobbies.bike.title'),
        description: t('hobbies.bike.desc'),
        images: ['/hobbies/bike/ladybug.jpg', '/hobbies/bike/bike.jpeg'],
    },
];
---

{
    HOBBIES.map(({ title, description, images }) => (
        <article class="mb-5">
            <span class="flex flex-row">
                <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
                    {title}
                </h3>
            </span>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            {images.length == 1 ? (
                <img
                    style="object-fit:contain"
                    class="relative rounded-lg h-80 shadow-xl rounded-lg w-full"
                    src={images[0]}
                    loading="lazy"
                />
            ) : (
                <div class="relative w-full flex gap-6 snap-x snap-proximity overflow-x-auto pb-5">
                    <div class="snap-center shrink-0">
                        <div class="shrink-0 w-4 sm:w-48" />
                    </div>

                    {images.map((image) => (
                        <div class="snap-center shrink-0 first:pl-8 last:pr-8">
                            <img
                                style="object-fit:contain"
                                loading="lazy"
                                class="rounded-lg h-80 "
                                src={image}
                            />
                        </div>
                    ))}
                    <div class="snap-center shrink-0">
                        <div class="shrink-0 w-4 sm:w-48" />
                    </div>
                </div>
            )}
        </article>
    ))
}
