---
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";
import { getLangFromUrl } from "../i18n/utils";
import { ViewTransitions } from "astro:transitions";

interface Props {
    title: string;
    description: string;
}

const { description, title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>

        <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1119049943081584"
            crossorigin="anonymous"></script>

        <ViewTransitions />
    </head>

    <body class="relative text-black dark:text-white">
        <div
            class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-100 dark:bg-neutral-950
      bg-[radial-gradient(ellipse_90%_90%_at_50%_50%,rgba(217,216,255,1),rgba(210,223,240,1))]
      dark:bg-[radial-gradient(ellipse_90%_90%_at_50%_50%,rgba(120,119,198,0.3),rgba(59,59,102,0))]"
        >
        </div>
        <Header />
        <slot />

        <style is:global>
            :root {
                color-scheme: light dark;
            }

            html {
                font-family: "Onest Variable", system-ui, sans-serif;
                scroll-behavior: smooth;
            }

            body {
                color: rgba(17, 17, 17, 0.9);
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                overscroll-behavior: none;
            }

            @media (prefers-reduced-motion: reduce) {
                html {
                    scroll-behavior: auto;
                }
            }

            @media (prefers-color-scheme: dark) {
                body {
                    color: rgba(255, 255, 255, 0.9);
                }
            }

            #header-nav {
                animation: blur linear both 0.5s;
                animation-timeline: scroll();
                animation-range: 0 500px;
            }

            @keyframes blur {
                to {
                    backdrop-filter: blur(20px);
                    border-width: 1px;
                    border-color: rgba(0, 0, 0);
                    padding: 0.25rem 0.75rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: rgb(229, 229, 229);
                    border-radius: 9999px;
                }
            }

            @media (prefers-color-scheme: dark) {
                @keyframes blur {
                    from {
                        border: 0px;
                    }
                    to {
                        box-shadow:
                            0px 5px 50px -5px rgba(0, 0, 0, 0.1),
                            0px 0px 0 1px rgba(0, 0, 0, 0.3);
                        background: rgba(0, 0, 0, 0.3);
                        backdrop-filter: blur(20px);
                        border-width: 1px;
                        border-color: rgba(0, 0, 0);
                        padding-left: 0.75rem;
                        padding-right: 0.75rem;
                        padding-top: 0.25rem;
                        padding-bottom: 0.25rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.3);
                        border-radius: 9999px;
                    }
                }
            }
        </style>
    </body>
</html>
