<svg
    {...Astro.props}
    width="91"
    height="90"
    viewBox="0 0 91 90"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M85.9372 37.9226L63.8323 27.0752C63.5723 26.9485 63.3623 26.7385 63.2356 26.4785L52.3615 4.38698C50.9214 1.46011 48.1145 -0.00332788 45.3077 5.68221e-06C42.5008 5.68221e-06 39.694 1.46678 38.2572 4.39698L27.4098 26.5018C27.2831 26.7619 27.0731 26.9719 26.8131 27.0986L4.72153 37.9726C-1.13221 40.8528 -1.12887 49.2034 4.7282 52.077L26.8331 62.9244C27.0931 63.0511 27.3031 63.2611 27.4298 63.5211L38.3039 85.6126C39.744 88.5395 42.5508 90.0029 45.3577 89.9996C48.1646 89.9962 50.9714 88.5328 52.4082 85.6026L63.2556 63.4977C63.3823 63.2377 63.5923 63.0277 63.8523 62.901L85.9438 52.027C91.8009 49.1468 91.7943 40.7995 85.9372 37.9226ZM69.476 39.4861L59.242 48.4334C57.1985 50.2202 55.7851 52.667 55.255 55.3339L52.6182 68.6681C52.4515 69.5015 51.4014 69.7849 50.8414 69.1448L41.8974 58.9141C40.1107 56.8706 37.6605 55.4539 34.9936 54.9238L21.6594 52.287C20.826 52.1236 20.5426 51.0702 21.1827 50.5102L31.4201 41.5596C33.4635 39.7728 34.877 37.3226 35.4037 34.6624L38.0405 21.3282C38.2072 20.4948 39.2573 20.2114 39.8173 20.8514L48.7679 31.0922C50.5547 33.1323 53.0049 34.5457 55.6651 35.0724L68.9993 37.7093C69.8361 37.876 70.1194 38.926 69.476 39.4861Z"
        fill="url(#paint0_linear_217_3051)"></path>
    <defs>
        <linearGradient
            id="paint0_linear_217_3051"
            x1="0.327897"
            y1="44.9995"
            x2="90.3337"
            y2="44.9995"
            gradientUnits="userSpaceOnUse"
        >
            <stop offset="1.19808e-07" stop-color="#EC0C43"></stop>
            <stop offset="1" stop-color="#FF9100"></stop>
        </linearGradient>
    </defs>
</svg>
